/* -- 全局样式重置 */

* {
    -webkit-font-smoothing: subpixel-antialiased;
}

ul {
    list-style: none;
}

li {
    list-style: none;
}

img {
    user-select: none;
}

* > p:last-child {
    margin-bottom: 0;
}

::selection {
    background-color: rgba(134, 166, 151, .5);
    color: #000;
}

ol.comment-list, ul.comment-list {
    margin-left: 0;
}

.navigation {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.news-head {
    user-select: none;
}

.comment-children ol.comment-list .line, .comment-children ul.comment-list .line {
    position: absolute;
    width: 2px;
    height: 5.6rem;
    top: -5rem;
    background-color: #e1e1e1;
    left: 1.5rem;
    z-index: -1;

}

.comment_reply {
    position: absolute;
    right: .5rem;
    top: .3rem;
}

.comment_meta {
    margin-bottom: .3rem;
    position: relative;
}

.comment-list {
    margin-top: 3rem
}

.comment-list ol {
    list-style: none
}

.comment-list li {
    list-style: none
}

.comment-list img.avatar {
    border-radius: 50%;
    margin: .5rem 2rem 0 0;
    height: 3rem;
    width: 3rem
}

.comment_main {
    background-color: #f9f9f9;
    border-radius: 3px;
    padding: 10px;
    transition: box-shadow .5s ease;
    flex: 1;
}

.comment_main:hover {
    box-shadow: 0 .625em 3.75em 0 #f4f4f4
}

.comment-list::after {
    content: '';
    clear: both
}

.comment-list [id*=li-comment-]::after {
    content: '';
    clear: both
}

.post-form.active {
    z-index: 1
}

.comment-list [id*=li-comment-] {
    margin-bottom: 3rem;
    position: relative
}

[id*=comment-] .comment_meta span {
    margin-right: 2rem
}

[id*=comment-] {
    position: relative;
}

.comment_time {
    color: #a1a1a1;
}

.comments-body {
    position: relative;
    display: flex;
    width: 100%;
}

.reply_form {
    margin-top: .5rem
}

.reply_form p:nth-child(1) a {
    margin-right: 2rem
}

.reply_form .submit {
    position: relative;
    margin-top: 1rem;
    overflow: hidden
}

.reply_form .submit button {
    float: right
}

@media (max-width: 600px) {
    .comment-list img.avatar {
        margin-right: .3rem;
    }

    [id*=comment-] .comment_meta span {
        margin-right: .3rem;
    }
}

.reply_form div.col-3 {
    column-count: 3;
    margin-bottom: .5rem
}

.reply_form div > input[type=text] {
    display: block;
    width: 1000px
}

@keyframes highlight {
    0% {
        background-color: #f9f9f9
    }
    50% {
        background-color: #bdc3c7
    }
    to {
        background-color: #f9f9f9
    }
}

header svg {
    width: 2rem;
    height: 2rem
}

/* -- index 颜色标签 */

.news-head.green h3, .news-body.green .boxed {
    background: #51d3ad;
}

.note-title {
    z-index: -1;
    font-weight: 400;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center
}

.note-content .post-title {
    text-align: center;
    margin: 1rem !important;
}

.paul-note {
    margin-top: -1.5rem;
}

/* -- post 样式 */

.note-content h1 {
    font-size: 1.5em;
    font-weight: 300;
}

.note-content h2 {
    font-size: 1.2rem;
    font-weight: 200;
}

.note-content h3 {
    font-size: 1.15rem;
}

.note-content h4 {
    font-size: 1.1rem;
}

.note-content h5 {
    font-size: 1rem;
}

.note-content h6 {
    font-size: .8rem;
}

.note-content > blockquote > p:last-child {
    margin-bottom: 0;
}

.post-content h2::before {
    content: '';
    padding-left: .75em;
    border-left: 2px solid #66BAB7;
}

.post-content h3:before {
    content: "#";
    margin-right: .5rem;
    color: #4caf50;
    font-weight: 400;
}

.post-content h4 {
    color: #546e7a;
}

.post-content h4:before {
    content: "&";
    margin-right: .5rem;
    color: #546e7a;
    font-weight: 400;
}

.note-action span {
    display: inline-block;
}

article dl, article ol, article ul {
    margin-bottom: 1rem;
}

/* -- code  */

pre > code {
    color: #fff;
    padding: 1em;
    display: block;
    overflow-x: auto;
    word-break: normal;
    font-size: 16px;
    border-radius: 5px;
    background-color: #333;
    transition: border .3s, background .3s;
    word-wrap: normal;
    font-family: consolas, courier new, monospace;
    box-sizing: border-box;
    line-height: 1.5;
}

pre code {
    color: inherit;
    border: 1px solid #ddd;
    background: linear-gradient(rgba(18, 18, 18, .05) 50%, transparent 0);
    background-size: auto 3em;
    background-origin: content-box;
}

:not(pre) > code {
    color: #ffa5a5;
    background: rgba(255, 255, 255, .2);
}

:not(pre) > code[class*="lang"] {
    position: relative;
    padding: .2em;
    border-radius: 0.3em;
    color: #c92c2c;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: inline;
    white-space: normal;
}

.token.comment, .token.block-comment, .token.prolog, .token.doctype, .token.cdata {
    color: #7D8B99
}

.token.punctuation {
    color: #5F6364
}

.token.property, .token.tag, .token.boolean, .token.number, .token.function-name, .token.constant, .token.symbol, .token.deleted {
    color: #c92c2c
}

.token.selector, .token.attr-name, .token.string, .token.char, .token.function, .token.builtin, .token.inserted {
    color: #2f9c0a
}

.token.operator, .token.entity, .token.url, .token.variable {
    color: #a67f59
}

.token.atrule, .token.attr-value, .token.keyword, .token.class-name {
    color: #1990b8
}

.token.regex, .token.important {
    color: #e90
}

.language-css .token.string, .style .token.string {
    color: #a67f59;
    background: rgba(255, 255, 255, 0.5);
}

.token.bold {
    font-weight: bold
}

.token.italic {
    font-style: italic
}

.token.entity {
    cursor: help
}

.token.important {
    font-weight: normal
}

.namespace {
    opacity: .7
}

/* -- 日记页 */

.note-content .btn {
    border-radius: 4rem;
    padding: .5rem 1rem;
    line-height: 1.5;
}

/* -- 加载按钮 */

#load-more-btn {
    padding: .5rem 1rem;
    outline: 0;
    color: #fff;
    border-radius: 4rem;
    animation: gradual-change infinite 3s ease both;
}

@keyframes gradual-change {
    0%, 100% {
        background: rgba(230, 126, 34, 1.0)
    }
    50% {
        background: rgba(241, 196, 15, .8);
    }
}

/* -- 重写首页模板样式 */

.paul-post h1, .paul-post h2, .paul-post h3, .paul-post h4, .paul-post h5 {
    font-size: 1.2em;
    font-weight: lighter;
    color: #67492e;
    margin-top: 3em;
}

.paul-post h1:before, .paul-post h2:before, .paul-post h3:before, .paul-post h4:before, .paul-post h5:before {
    content: ' ';
    padding-left: 0.75em;
    border-left: 2px solid #ffc107;
}

.paul-post li {
    list-style: disc;
}

.paul-post li li {
    list-style: circle;
}

.paul-post li li li {
    list-style: square;
}

.paul-post li:before {
    display: none;
}

/* -- 重写文章页样式 */

.post-edit {
    margin-left: .5rem;
}

.post-edit a {
    color: rgba(40, 185, 190, 0.3);
    font-size: 1.2rem;
    transition: color .5s;
}

.post-edit a:hover {
    color: rgb(40, 185, 190)
}

.note-content {
    white-space: normal;
}

[id*="cid"] .note-content {
    white-space: normal;
    padding: 30px 0 0 0;
}

.note-content p {
    margin-bottom: 1.5rem;
}

.post-content ul ul {
    margin-bottom: 0;
}

.post-content ul p {
    display: inline;
}

.post-category blockquote {
    background-color: rgba(245, 250, 253, .8);
    border-left: 3px #3498db solid;
}

.torTree {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 10rem;
    right: 5%;
    align-items: center;
    justify-content: center;
    font-size: .7rem;
}

.torTree-wrap {
    position: absolute;
    left: 5%;
    transition: opacity .5s
}

.torTree-wrap::before {
    content: '';
    position: absolute;
    margin: -1rem;
    z-index: -1;
    border-radius: .5rem;
    background-color: rgba(236, 240, 241, .5);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.torTree ul {
    margin-left: 0;
}

.torTree li {
    margin-bottom: .3rem;
}

.tier-2 {
    margin-left: .2rem;
}

.tier-3 {
    margin-left: .4rem;
}

.tier-4 {
    margin-left: .6rem;
}

.tier-5 {
    margin-left: .7rem;
}

.tier-6 {
    margin-left: .8rem;
}

.torTree * {
    user-select: none;
}

.torTree-title {
    color: #4d5556;
    left: 0;
    right: 0;
    margin: auto;
}

.torTree-title a {
    text-align: center;
    display: block;
}

article:not(.comment-list) li::before, .torTree li::before {
    content: '\f061';
    font-family: FontAwesome;
    margin-right: .4rem;
    font-size: 10px;
    color: currentColor;
}

@media (min-width: 1350px) {
    .torTree {
        display: flex;
    }
}

.link-wrap {
    columns: 2;
    margin-top: 5rem
}

/* -- 归档页 */

.post-category {
    margin: 3rem auto;
    overflow: hidden;
}

.post-category li {
    float: left;
    width: 50%;
    margin-bottom: 2rem;
}

.post-category li > a:nth-child(1) {
    display: inline-block;
    margin-left: 0;
}

.post-category li a {
    display: block;
    margin-left: 1.5rem;
}

.category-wrap {
    min-height: 12rem;
    position: relative;
}

.archive-wrap li {
    overflow: hidden;
}

.archive-wrap li::before {
    display: none;
}

.more-category {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

@media (max-width: 500px) {
    .note-title {
        display: none;
    }

    .paul-say {
        columns: 1;
    }

    .post-category li {
        width: 100%;
    }

    #load-more-btn {
        margin-top: 1rem;
    }
}

.page-navigator {
    position: relative;
    display: inline-block;
    top: 5rem;
}

.page-navigator li::before {
    display: none;
}

.page-navigator li {
    display: inline-block;
    color: #fff;
    border-radius: 3em;
    transition: color .3s, background .3s;
    -o-transition: color .3s, background .3s;
    -moz-transition: color .3s, background .3s;
    -webkit-transition: color .3s, background .3s;
    outline: 0;
    font: inherit;
    cursor: pointer;
    user-select: none;
    padding: .5em 2em;
    margin-right: 1rem;
    border: 1px solid transparent;
}

.page-navigator li > a {
    color: #000;
}

.text-center {
    text-align: center;
}

.float-50 {
    float: left;
    width: 50%;
    position: relative;
}

@media (max-width: 700px) {
    .float-50 {
        width: 100%;
    }
}

/* -- 加载样式 */

#loading {
    opacity: 0;
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 5rem;
    width: 5rem;
    transition: opacity .5s;
}

body.loading #loading {
    opacity: 1;
    z-index: 50;
}

/* - 样式一 */

.loading-circle {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 5rem;
    width: 5rem;
    margin: auto;
    border-radius: 50%;
    transform: rotate(45deg);
    border-top: 4px solid #795548;
    animation: loading infinite 1s both linear;
}

/* - 样式二 */

#loading .box {
    top: -4rem;
    left: -2rem;
    position: absolute;
}

#loading .box:before {
    content: "";
    position: absolute;
    z-index: 2;
    top: 60px;
    left: 50px;
    width: 50px;
    height: 50px;
    background: #e74c3c;
    border-radius: 2px;
    transform: rotate(45deg);
    animation: box 0.8s infinite;
}

#loading .box:after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 128px;
    left: 52px;
    width: 44px;
    height: 3px;
    background: #eaeaea;
    border-radius: 100%;
    animation: shadow 0.8s infinite;
}

@keyframes shadow {
    0%, 100% {
        left: 54px;
        width: 40px;
        background: #eaeaea;
    }
    50% {
        top: 126px;
        left: 50px;
        /*让阴影保持在原位*/
        width: 50px;
        height: 7px;
        background: #eee;
    }
}

@keyframes box {
    0% {
        top: 50px;
        transform: rotate(90deg);
    }
    20% {
        border-radius: .5rem;
    }
    50% {
        top: 80px;
        transform: rotate(45deg);
        border-bottom-right-radius: 25px;
        background-color: #e67e22
    }
    80% {
        border-radius: 2px;
    }
    100% {
        top: 50px;
        transform: rotate(0deg);
    }
}

#loading img {
    transform: translateY(50%);
}

@keyframes loading {
    0% {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    to {
        -webkit-transform: rotate(405deg);
        -moz-transform: rotate(405deg);
        -ms-transform: rotate(405deg);
        -o-transform: rotate(405deg);
        transform: rotate(405deg);
    }
}

/* -- 霓虹灯效果 */

.text {
    font-size: 2rem;
    font-weight: lighter;
    fill: none;
    stroke-width: 2px;
    stroke-dasharray: 90, 310;
    animation: stroke 6s infinite linear;
}

.text-1 {
    stroke: #7DB9DE;
    text-shadow: 0 0 5px #7DB9DE;
    animation-delay: -1.5s;
}

.text-2 {
    stroke: #F05E1C;
    text-shadow: 0 0 5px #F05E1C;
    animation-delay: -3s;
}

.text-3 {
    stroke: #E03C8A;
    text-shadow: 0 0 5px #E03C8A;
    animation-delay: -4.5s;
}

.text-4 {
    stroke: #49c7af;
    text-shadow: 0 0 5px #49c7af;
    animation-delay: -6s;
}

@keyframes stroke {
    100% {
        stroke-dashoffset: -400;
    }
}

.my-info h1:nth-child(1) {
    position: relative;
    user-select: none;
}

.my-info h1:nth-child(1) > span:hover ~ svg {
    opacity: 1;
}

.my-info h1:nth-child(1) > svg {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
    transition: opacity .5s;
}

/* -- 登录框相关 */

.login-action {
    position: fixed;
    text-align: center;
    box-shadow: 3px 5px 30px 4px #795548;
    right: -100%;
    bottom: 2rem;
    will-change: transition;
    transition: right .5s, opacity .5s;
    opacity: 0;
}

.login-action.active {
    right: 5.5rem;
    opacity: 1;
}

.login-action::before {
    content: '';
    margin: -1rem;
    border-radius: 12px;
    background: #fff;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.login-action input {
    display: block;
    margin-bottom: .5rem;
}

.login-action .btn {
    border-radius: 12px;
}

@media (max-width: 900px) {
    .news-article, .news-project {
        min-height: 3rem;
    }
}

/* -- 开源 */

.github {
    width: 50%;
    float: left;
    top: 50%;
    position: fixed;
    transform: translateY(-80%);

}

.repos {
    float: right;
    width: 50%;

}

.repos li {
    margin-bottom: 1rem
}

.repos .repo-name {
    position: relative;
    display: list-item;
    list-style-type: disc;
}

.repos .repo-des {
    margin-top: .5rem
}

@media (max-width: 500px) {
    .github {
        float: none;
        width: auto;
        transform: none;
        top: auto;
        position: relative;
    }

    .repos {
        float: none;
        width: auto;
    }
}

#loading.jsonp-loading {
    opacity: 1;
    z-index: 99;
}

#opensource-wrap {
    position: relative;
    transition: opacity .5s;
}
