/* 除 Kico Style 外的其他样式 */

/* - 评论列表样式 */
.comment-list {
    margin-top: 3rem;
}

.comment-list ol {
    list-style: none;
}

.comment-list li {
    list-style: none;
}

.comment-list img.avatar {
    position: absolute;
    top: 50%;
    left: -5rem;
    transform: translateY(-50%);
    border-radius: 50%;
    margin: .5rem 2rem 0 0;
    height: 3rem;
}

.comment_main {
    background-color: #f9f9f9;
    border-radius: 3px;
    padding: 10px;
    transition: box-shadow .5s ease;
}

.comment_main:hover {
    box-shadow: 0 0.625em 3.75em 0 #f4f4f4;
}

.comment-list::after {
    content: '';
    clear: both;
}

.comment-list [id*="li-comment-"]::after {
    content: '';
    clear: both;
}

.post-form.active {
    z-index: 1;
}

.comment-list [id*="li-comment-"] {
    margin-bottom: 3rem;
    position: relative;
}

[id*="comment-"] .comment_meta span {
    margin-right: 2rem;
}

[id*="comment-"] {
    position: relative;
}

/* - 回复评论框样式*/
.reply_form {
    margin-top: .5rem;
}

.reply_form p:nth-child(1) a {
    margin-right: 2rem;
}

.reply_form .submit {
    position: relative;
    margin-top: 1rem;
    overflow: hidden;
}

.reply_form .submit button {
    float: right;
}

@media (max-width: 900px) {
    .comment-list img.avatar {
        display: none;
    }
}

.reply_form div.col-3 {
    column-count: 3;
    margin-bottom: .5rem;
}

.reply_form div > input[type="text"] {
    display: block;
    width: 1000px;
}

@keyframes highlight {
    0% {
        background-color: #f9f9f9
    }
    50% {
        background-color: rgb(189, 195, 199);
    }
    to {
        background-color: #f9f9f9;
    }
}
